services:
  - type: web
    name: gestion-vencimientos
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
    disk:
      name: data-disk
      mountPath: /opt/render/project/src/data
      sizeGB: 1

